@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body{
  background-color: #F7F7FA;
  font-family: 'Kanit', sans-serif;
  margin: 0;
}
#signin
{
  display:none;
}
/*------- open nav bar -------*/
.boxtabbar{
  background: white;
  border-bottom: .0625rem solid #e0e0e0;
  /* flex-shrink: 0; */
  line-height: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.tabbar{
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  font-weight:bold;
  line-height: 3em;
}
.area-left{
  margin-left: 3vh;
}
.area-right{
  margin-right: 3vh;
}
/* close navbar */
/* open subject */
.boxsubject{
  background-color: #22406d;
  border-bottom: .0625rem solid #e0e0e0;
  
}

.textsubject{
  margin-top: 58px;
  align-items: center;
  font-size: 2.5vh;
  font-weight: bold;
  padding: 25px;
  color: white;
}

.spacesubject{
  margin-top: 3vh;
}
.detailsubject{
  font-size: 1.8vh;
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
}
/* close subject */
/* open date time */


.boxdate{
  margin-top: .3125rem;
  height: 7rem;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.date{
  margin-left: 4px;
  margin-right: 4px;
}

.time{
  background-color:#56667e;
  font-size: 1.1em;
  color: #F7F7FA;
  margin-bottom: .25rem;
  width: 5rem;
  border-radius: 1em;
  height: 5rem;
  text-align: center;
  display: flex;
}

.time div{
  margin: auto;
}
/* close date time */


/* open subject */

button{
  background:steelblue;
  border-radius:.6em;
  font-size: 0.8em;
  color:white;
  width: 100%;
  padding:1em;
  margin: auto;
  box-sizing:border-box;
  border:none;
  font-weight: bold;
  text-align: center;
}
.subject{
  padding: 10px;
}
.box_addstudent{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
}
.addstudent{
 font-size: 0.75em;
}
.export{
font-size: 0.75em;
}

.myTable{
  margin: auto;
  width: 100%;
  display: inline-table;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.headtable{
  margin: auto;
  width: 100%;
}
tr :nth-child(1){
  width: 50%;
}

tr :nth-child(2){
  width: 25px;
}
tr :nth-child(3){
  width: 25px;
}
tr :nth-child(4){
  width: 25px;
}
tr :nth-child(5){
  width: 25px;
}
th, td {
  border-bottom: 1px solid #999;
  padding: 8px;
  font-size: 1.9vh;
}

th{
  font-size: 2vh;
}

td :nth-child(1){
  text-align: start;
  width: 50%;
}
td :nth-child(2){
  width: 25px;
}
td :nth-child(3){
  width: 25px;
}
td :nth-child(4){
  width: 25px;
}
td :nth-child(5){
  width: 25px;
}

#name{
  width: 15vh;
  font-size: 1.5vh;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-align: start;
}
@media screen and (min-width: 768px) {
  #name{
    width: 30vh;
  }
}

/* delete coruse */
.hover_subject{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center !important;
  top:0;
  left: 0;
  width:100%;
  z-index:10000;
}
.hover_subject .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_subject > div {
  background-color: #292929;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 75%;
  height: 35%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
  
}
.subjectCloseButton {
  background-color: #EE5555;
  color: white;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.trigger_subject {
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  font-weight: bold;
}

.boxdelete{
  display: flex;
  flex-direction: column;
  color: #e0e0e0;
}
.boxdelete div{
  text-align: start;
}

.boxbutton{
  display: flex;
  margin-top: 2vh;
}

/* close delete course */

/* Hide the browser's default radio button */
.container input {
  position:relative;
  cursor: pointer;
  opacity: 0;
  z-index: 100;
  width: 20px;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin-left: -25px;
  border-radius: 50%;
  align-items: center;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
  margin-left: -25px;
  z-index: 1;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark.ontime{
  background-color: #57E552;
}

.container input:checked ~ .checkmark.late{
  background-color: #FBD724;
}

.container input:checked ~ .checkmark.missed{
  background-color: #E53C3C;
}

.container input:checked ~ .checkmark.absent{
  background-color: #949494;
}


/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
  background: white;
  
}











/* close subject  */
/* open popup  add subject*/
.hover_popup{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center !important;
  top:0;
  left: 0;
  width:100%;
  z-index:10000;
}
.hover_popup .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_popup > div {
  background-color: #292929;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 75%;
  height: 75%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
  
}
.popupCloseButton {
  background-color: #EE5555;
  color: white;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 4.5vh;
  line-height: 5vh;
  width: 5vh;
  height: 5vh;
  text-align: center;
}
.trigger_popup {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
}
.textaddsub{
  font-size: 3.5vh;
  font-weight: bold;
  color: #999;
}
.boxaddsub{
  display: flex;
  flex-direction: column;
  color: #e0e0e0;
}
.boxaddsub div{
  text-align: start;
  margin-top: 5%;
}
.boxbutton{
  text-align: end !important;
  display: flex;
  justify-content: space-around;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  color: gray;
  background-color: white;
  padding: 1em;
  border-radius: 8px;
  font-size: 0.7em;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.form-control{
  width:100%;
  height: 5vh;
  border-radius:.6em;
  padding:.5em .5em;
  background-color: rgb(255, 255, 255);
  box-sizing:border-box;
  border:.5px solid #ccc;
  margin-bottom:1em;
  font-weight:bold;
  font-size: 1em;
  color: #454F63;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 10px;
}

.boxbutton div{
  margin: 0;
}
/* close popup add subject*/

/* ipad */
@media only screen and (min-width: 768px) {
  .btn{
    font-size: 1em;
  }
  .addstudent{
    font-size: 1.2em;
   }
   .export{
   font-size: 1.2em;
   }
}
/* ipad pro */
@media only screen and (min-width: 1024px) {
  .btn{
    font-size: 1.5em;
  }
  .addstudent{
    font-size: 1.5em;
   }
   .export{
   font-size: 1.5em;
   }
}