@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* structure web */
body{
  background-color: #F7F7FA;
  font-family: 'Kanit', sans-serif;
}
/* open nav bar */
.boxtabbar{
  background: white;
  border-bottom: .0625rem solid #e0e0e0;
  flex-shrink: 0;
  line-height: 1em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.tabbar{
  align-items: center;
  display: flex;
  font-size: 1.2em;
  font-weight:bold;
  justify-content: space-between;
}
.beforeSelect{
  text-align: center;
}

.Nav{
  color: black;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 20px 5px;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

.area-left{
  margin-left: 3vh;
}
.area-right{
  margin-right: 3vh;
}


/* close nav bar  */
/* open course */
.boxcourse{
  margin-top: 100px;
}
.areacourse{
  margin-left: 5%;
  margin-right: 5%;
}

.textcourse{
  font-size: 4.5vh;
  font-weight:bold;
}
.course-up{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.backgroundcolor {
  transition: all .3s;
  height: var(--size);
  width: var(--size);
  background: hsl(var(--hue), 90%, 40%);
  display: inline-block;
}

select {
  width:100%;
  border-radius:.6em;
  padding:1.5vh;
  background-color: rgb(255, 255, 255);
  box-sizing:border-box;
  border:.5px solid #ccc;
  margin-bottom: 3vh;
  font-weight:bold;
  font-size: 1.8vh;
  color: rgb(73, 73, 73);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input{
  width:100%;
  border-radius:.6em;
  padding:1.5vh;
  background-color: rgb(255, 255, 255);
  box-sizing:border-box;
  border:.5px solid #ccc;
  margin-bottom: 3vh;
  font-weight:bold;
  font-size: 1.8vh;
  color: rgb(73, 73, 73);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button{
  background:rgb(7, 134, 212);
  border-radius:.6em;
  font-size: 2vh;
  color:white;
  width: 150px;
  padding:1em;
  margin: auto;
  margin-top: 2%;
  box-sizing:border-box;
  border:none;
  font-weight: bold;
}


/* close boxcourse */
/* open popup  add subject*/
.hover_popup{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center !important;
  top:0;
  left: 0;
  width:100%;
  z-index:10000;
}
.hover_popup .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_popup > div {
  background-color: #292929;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 75%;
  height: 90%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
  
}
.popupCloseButton {
  background-color: #EE5555;
  color: white;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 4.5vh;
  line-height: 5vh;
  width: 5vh;
  height: 5vh;
  text-align: center;
}

.trigger_popup {
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  font-weight: bold;
}
.textaddsub{
  font-size: 4vh;
  font-weight: bold;
  color: #999;
}
.boxaddsub{
  display: flex;
  flex-direction: column;
  color: white;
}
.boxaddsub div{
  text-align: start;
}
label{
  font-size: 2vh;
}
.setsubject{
  width: 100%;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.balancebox{
 display: flex;
 justify-content: space-between;
}
.boxbutton{
  text-align: end !important;
}
/* close popup add subject*/

/* open popup user */
.hover_user{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  z-index:10000;
}
.hover_user .helper{
  height:100%;
  vertical-align: middle;
}
.hover_user > div {
  background-color: #292929;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 551px;
  min-height: 100px;
  vertical-align: middle;
  width: 70%;
  height: 100%;
  position: relative;
}
.humbergerCloseButton{
  text-align: end;
  font-size: 2vh;
  margin-right: 5%;
}
.trigger_user {
  cursor: pointer;
  font-size: 2em;
  margin-top: 2%;
  display: inline-block;
  font-weight: bold;
  color: rgb(0, 0, 0); 
  text-decoration: none; 
  text-align: right;
}
.boxuser_top{
  width: 100%;
  /* height: 40vh; */
  display: flex;
  flex-flow: column;
  background-color: rgb(216, 224, 233);
}
.boxuser_down{
  width: 100%;
  height: 100%;
  background-color: #eff3f5;
  display: flex;

}
.boxhome{
  height: 7vh;
  margin-top: 2em;
  padding-left: 2em;
}
.boxlogout{
  height: 7vh;
  padding-left: 3vh;
  margin-block-start: auto;
}
.outbtn{
  font-size: 1.5em;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding-right: 4vh;
  margin-left: 2vw;
  margin-top: 30vh;
  margin-bottom: 3vh;
  text-align: end;
}
.userlogin{
  padding-left: 3vh;
  overflow: hidden;
  font-size: 1em;
  margin-left: 2vw;
  
}


.datauser{
  color: #000000;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

.login{
  height: 3vh;
  padding-right: 2em;
  text-align: end;
  margin-bottom: 2em;
  margin-block-start: auto;

}
.email{
  font-size: 1em;
  margin-top: 1%;
  color: rgb(0, 0, 0);
}
/* close popup user */
/* open coruse */
.maincourse{
  display: flex;
  flex-wrap: wrap;  
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}
.object_course{
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
  height: 11rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 1em;
  width: 18.75rem;
  background-color: #22406d;
}
.setcourse{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 15px;
  height: 100%;
  color: white;
}
#subjectname{
  font-size: 2.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
.course-down{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
.course-top{
  display: flex;
  justify-content: space-between;
}

.nameuser{
  font-size: 1em;
}
.userimg{
  width: 3em;
  margin-bottom: 1vh;
}

.beforeSelect{
  text-align: center;
  width: 100%;
}

/* ipad */
@media only screen and (width: 768px) {
  .userlogin {
    font-size: 2em;
    margin-left: 2vw;
  }
  .userimg{
    width : 2em;
    margin-bottom: 0.5em;
  }
  .outbtn{
    font-size: 2em;
  }
}
/* ipad pro */
@media only screen and (width: 1024px),(height: 1366px) {
  .userlogin {
    font-size: 2em;
  }
  .userimg{
    width : 2em;
    margin-bottom: 1em;
  }
  .outbtn{
    font-size: 3em;
  }
  .xbutton{
    margin: auto;
    margin-top: 0.3vh;
  }
}